<div class="col-md-6 col-lg-4 py-3 wow zoomIn">
    <div class="card-doctor">
        <div class="header">
            <img path="home" pic_src="gallery-{number_image}.jpg" alt="">
            <div class="meta">
                <a target=_blank href="#" data-facebook><i class="fab fa-facebook"></i></a>
                <a target=_blank href="#" data-instagram><i class="fab fa-instagram"></i></a>
                <a target=_blank href="#" data-google><i class="fab fa-google"></i></a>
            </div>
        </div>
    </div>
</div>